.play-game-button {
    font-size: 40px;
    border-radius: 10px;
    height: auto;
    width: 40%;
    background-color: darkgreen;
    color: yellow;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.play-game-box {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.text-animation {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 50px;
    font-weight: 100%;
    letter-spacing: 2px;
}

.text-animation:hover {
    border: 1px solid;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.input-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-box-style {
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 84px;
    width: 30%;
    font-size: 40px;
}

.button-box {
    display: flex;
    justify-content: space-around;
}

.button-box-guess {
    border-radius: 10px;
    font-size: 20px;
    background-color: darkred;
    color: white;
    font-weight: 400;
    height: 40px;
    width: 10%;
}

.button-box-reset {
    border-radius: 10px;
    font-size: 20px;
    background-color: #03256c;
    color: white;
    font-weight: 400;
    height: 40px;
    width: 15%;
}

.progress {
    height: auto;
    border-radius: 10px;
}

.time-left-text {
    font-size: 20px;
}

.turn-left-text {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}